.ant-table-wrapper .ant-table-thead > tr > th {
  text-align: left !important;
}

.ant-table-row td {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.custom-table th {
  border-inline-end: 1px solid #F2F2F4 !important;
  border-top: 1px solid #F2F2F4 !important;
}
.custom-table td {
  border-inline-end: 1px solid #F2F2F4 !important;
}
.custom-table tr th:first-child {
  border-left: 1px solid #F2F2F4 !important;
}
.custom-table tr td:first-child {
  border-left: 1px solid #F2F2F4 !important;
}

.custom-table .ant-table-cell.fixBorderTopLeft {
  border-top: none !important;
  border-left: none !important;
}

.custom-table .ant-table-cell.fixBorderTop {
  border-top: none !important;
}
  .ant-table-cell {
    border-bottom: 1px solid #F2F2F4 !important;
  }
  .ant-table {
    background-color: transparent !important;
  }
  th {
    background-color: #F9F9FB !important;
    color: #000B1E66 !important;
  }